Debug/
Release/
SPDProjekt3.vcxproj
SPDProjekt3.vcxproj.filters
SPDProjekt3.vcxproj.user
/SPDZadanie3/SPDZadanie3.sln
/SPDZadanie3/SPDZadanie3/SPDZadanie3.vcxproj.user
/SPDZadanie3/SPDZadanie3/SPDZadanie3.vcxproj.filters
/SPDZadanie3/SPDZadanie3/SPDZadanie3.vcxproj
/SPDZadanie3/SPDZadanie3/SPDZadanie3.rc
/SPDZadanie3/SPDZadanie3/SPDZadanie3.aps
/SPDZadanie3/SPDZadanie3/resource.h
/SPDZadanie3/SPDZadanie3/fsp
/SPDZadanie3/.vs/SPDZadanie3/v16/ipch/AutoPCH
/SPDZadanie3/.vs/SPDZadanie3/v16/.suo
/SPDZadanie3/.vs/SPDZadanie3/v16/Browse.VC.db
/SPDZadanie3/.vs/SPDZadanie3/v16/Browse.VC.opendb
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/SPDZadanie3/v16/ipch/AutoPCH/de83f9b4d8362551/MAIN.ipch
/.vs/SPDZadanie3/v16/ipch/AutoPCH/de83f9b4d8362551
/.vs/SPDZadanie3/v16/ipch/AutoPCH/c3580293b1260d3f/OPERATION.ipch
/.vs/SPDZadanie3/v16/ipch/AutoPCH/c3580293b1260d3f
/.vs/SPDZadanie3/v16/ipch/AutoPCH
/.vs/SPDZadanie3/v16/.suo
/.vs/SPDZadanie3/v16
/.vs/SPDZadanie3/config/applicationhost.config
/.vs/SPDZadanie3/config
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/SPDZadanie3/SPDZadanie3
/SPDZadanie3/wyniki
